*{
	image-rendering:-moz-crisp-edges;
	image-rendering:pixelated;
}
body{
	/*Any part of the scene where an actor doesn't get drawn will display this
		background-color.*/
	background-color:green;
	padding:0px;
	margin:0px;
}
#leftBar, #rightBar{
	position:fixed;
	background-color:black;
}
.object, .container{
	position:fixed;
	overflow:hidden;
	visibility:hidden;
	display:inline-block;
}
.container .object{
	position:absolute;
}
.bar{
	background-color:black;
	position:fixed;
}
